* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



@font-face {
    font-family: 'txt';
    src: url(./fonts/HelloMonday.ttf)
}

@font-face {
    font-family: 'caracter';
    src: url(./fonts/Nepoboy.ttf);
}

@font-face {
    font-family: 'mongo';
    src: url(./fonts/Milk\ Mango.ttf);
}

body {
    background-color: #001e;
}

.c-img {
    height: 100px;
    /* position: relative;
    left: -32.5rem; */
}

.c-img img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.title {
    /* position: relative; */
    /* left: -8rem; */
    text-align: center;
}

.title strong {
    color: #B4BDFF;
    font-size: 78px;
    font-family: 'mongo';
    letter-spacing: 3.8px;
    opacity: .6;

}

.btn-info i {
    font-size: 35px;
    color: #43c;
    font-weight: 100;
}

.btn-info i:hover::after {
    position: absolute;
    right: 50px;
    top: 130px;
    text-align: center;
    border: 2px dotted #fff;
    background-color: #c3c3c3;
    width: 250px;
    overflow: auto;
    font-size: 12px;
    line-height: 14px;
    content: "Esta pagina contiene el curriculum virtual de larry. no esta aturizado a compartirlo";
}

.bar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 175px;
    width: 99.5vw;
    background-color: #001e;
    border-radius: 4px;
    padding: 40px;
}

.bar-menu a {
    margin: 5px;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(88, 28, 135), rgb(99, 102, 241));
    border-radius: 4px;
    height: 183px;
}

.background-1 {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(88, 28, 135), rgb(99, 102, 241));
    border-radius: 14px;
    height: 402px;
    width: 96.36%;
}



.center {
    padding: 60px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.contorno {
    display: flex;
    justify-content: center;
    background-color: #B4BDFF;
    border-radius: 10px;
    height: 96%;
    width: 98.96%;
    /* border: 10px solid #5FBDFF; */
    /* box-shadow: 0px 0px 5px #3081D0; */
}

.padre_txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35rem;
}

.padre_txt>h1 {
    margin-top: 30px;
    align-self: center;
}

.padre_txt>p {
    line-height: 50px;
}

.info {
    font-family: 'caracter';
    border-right: 5px double #65c;
    width: 70%;
    display: flex;
    justify-content: center;
}

.profil {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px double #65c;
    /* position: absolute; */
    margin-bottom: 27px;
}

.img {
    width: 30%;
    /* position: relative; */
    /* left: 7.5%; */
    display: flex;
    flex-direction: column;
    line-height: 40px;
    align-items: center;
    margin: 20px 50px;
}

.profil>img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.padre_txt>.txt_profil {
    font-size: 21px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    align-items: center;
    font-family: 'txt';
    text-align: center;
}

.txt_profil {
    font-family: 'txt';
}

.aside {
    background: radial-gradient(rgb(88, 28, 135), rgb(99, 102, 241));
    border-radius: 10px;
    width: 93.36%;
    padding: 6px 5px;
}

.conte-ex {
    border-radius: 10px;
    background: #B4BDFF;
}

.conte-ex>h2 {
    text-align: center;
    font-family: 'caracter';
    padding: 60px 0;
}

.cards {
    display: flex;
}

.cards p {
    text-align: center;
    flex: 1 1 auto;
    font-family: 'txt';
    font-size: 17px;
    padding: 5px;
}

.c-aside {
    display: flex;
    justify-content: center;
}